:root{
    --border: 2px solid #33322E;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ebf7fc; 
    margin: 0;
}

.fondo{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 90%;
    height: 90vh;
    background-image: url("/recursos/fondo_todolist.svg");
    background-size: 200px;
    background-repeat: repeat;
    opacity: 0.08;
}

.app{
    width: 100%;
    margin: 40px auto;
}

.header{
    margin: 0 418px 24px 418px;
}

.titulo{
    position: relative;
    text-align: center;
    margin: 0 auto 12px;
    width: 200px;
}

.animacion{
    position: absolute;
    left: -60px; 
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animacion span {
    transform: rotateZ(45deg);
    margin: 0 7px;
    width: 7px;
    height: 7px;
    border: 2px solid #33322E; 
    background-color: #ffd6e9;
    
    display: inline-block;
    border-radius: 1px;
    
    animation: zooming 8s ease-in-out infinite;
}

.animacion span:nth-child(2) {
    animation-delay: 2s;
}

.pendulo{
    position: absolute;
    right: -40px;
    top: 0;
}

.buscador{
    position: relative;
}

.agregar-item{
    width: 100%;
    height: 64px;
    cursor: text;
    font-size: 18px;
    border: var(--border);
    border-radius: 12px;
    box-sizing: border-box;
    padding-left: 12px; 
    padding-right: 100px; 
    box-shadow: 4px 4px 0px #33322E; 
    transition: box-shadow 0.3s ease;
}

.agregar-item:hover{
    box-shadow: none;
}

.btn-agregar{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 98px;
    font-size: 18px;
    background-color: #ffd6e9;
    border: var(--border);
    border-left: var(--border);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    transition: all 0.25s;
}

.caja-principal {
    background-color: #ffffff; 
    border: var(--border); 
    border-radius: 12px; 
    box-shadow: 4px 4px 0px #33322E;
    margin-top: 30px; 
    overflow: hidden; 
    max-width: 700px;
    margin: 30px auto 0 auto;
}

.caja-encabezado {
    border-bottom: var(--border);
    padding: 12px 20px;
    font-weight: bold;
    font-size: 16px;
}

.caja-contenido {
    padding: 30px 40px;
    min-height: 280px;
    color: #606060;
}

.mensaje-vacio {
    margin-bottom: 20px;
    font-size: 16px;
}

.consejos p {
    margin-bottom: 12px;
}

.consejos ul {
    list-style: none;
}

.consejos li {
    margin-bottom: 8px;
    font-size: 15px;
}

.caja-pie {
    border-top: var(--border);
    height: 44px;
}


.tarea-item {
    display: flex;
    align-items: center;
    background-color: #F9F3E5;
    border: var(--border);
    border-radius: 12px;
    padding: 12px 20px;
    margin-bottom: 16px;
    box-shadow: 4px 4px 0px #33322E;
    transition: box-shadow 0.3s ease;
}

.tarea-item:hover {
    box-shadow: none;
}

.btn-completar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: var(--border);
    background-color: #ffffff;
    cursor: pointer;
}

.texto-tarea {
    flex-grow: 1;
    margin: 0 16px;
    font-size: 20px;
    color: #080808;
    font-weight: 500;
}

.btn-eliminar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: var(--border);
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #33322E;
    box-shadow: 4px 4px 0px #33322E;
    transition: box-shadow 0.3s ease;
}

.btn-eliminar:hover{
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0px #33322E;
    background-color: red;
}

.btn-editar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: var(--border);
    background-color: #ffd6e9; 
    cursor: pointer;
    font-size: 14px;
    margin-right: 8px;
    box-shadow: 4px 4px 0px #33322E;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.btn-editar:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0px #33322E;
    background-color: #ffb3d9;
}